@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthStateProvider
@inject PlayerCharacterService CharacterService
@inject IJSRuntime JS


<EditForm Model="Character" OnValidSubmit="SaveAsync" class="form h-100">


  <div class="text-danger fs-4 text-center">
    <DataAnnotationsValidator />
    <ValidationSummary />
  </div>

  <div class="d-flex flex-nowrap gap-3 m-2">
      <div class="flex-fill">
    		<label class="form-label w-100 text-center" >Name</label> 
    		<input class="form-control" placeholder="My Awesome Character" @bind="Character.Name"/>
      </div>
      <div class="flex-fill">
    
    		<label class="form-label w-100 text-center">Level</label>
    		<input type=number class="form-control" @bind="Character.StatBlock.Level"/>
      </div>
  </div>

  <div class="m-2 text-center text-danger fs-4">
    @if(Character.UserId == null) {
      <div>
        <label>Discord User ID</label>
        <span title="Set this to give ownership of this character to a player. This box disappears once a value has been set" class="m-auto fs-5" style="cursor: default; user-select: none; color:var(--accent)">?</span>
      </div>
      <input class="form-control" @bind="Character.UserId" />
    }
  </div>

  <div class="d-flex flex-nowrap m-0">
    <div class="flex-fill" style="max-width:50%; max-height: 78vh; overflow: auto;">
    	<ListEditor TItem="Gauge" Items="Character.Gauges" AddItem="AddGauge" Name="Gauge">
    	    <ItemTemplate Context="gauge">
         

              <input class="form-control text-center gauge-edit-title"
                     style="background:@gauge.Colour; border: var(--bg-dark)"
                     @bind="gauge.Name" />

              <hr>

    	        <label class="form-label">Maximum</label>
    	        <input class="form-control" type="number" @bind="gauge.Max"/>


    	        <label class="form-label">Colour</label>
              <div class="d-flex flex-row gap-1">
      	        <input class="form-control" @bind="gauge.Colour"/>
                <input class="form-control bg-dark form-control-color" type="color" style="border: none" @bind="gauge.Colour" />
              </div>
    	    </ItemTemplate>
    	</ListEditor>
    </div>

    <div class="flex-fill" style="max-width:50%; max-height: 78vh; overflow: auto;">

    	<ListEditor TItem="Stat" Items="Character.StatBlock.SpecialStats" AddItem="AddSpecialStat" Name="Special Stat" Hint="Stats whose values get added to rolls directly rather than run through the normal modifier formula">
    	    <ItemTemplate Context="stat">

            <div class="">
    	        <input class="form-control text-center" @bind="stat.Name"/>
              <hr>
    	        <input class="form-control" type="number" @bind="stat.Value"/>
            </div>

    	    </ItemTemplate>
    	</ListEditor>

    	<ListEditor TItem="Stat" Items="Character.StatBlock.Stats" AddItem="AddStat" Name="Stat">
    	    <ItemTemplate Context="stat">

            <div class="">
    	        <input class="form-control text-center" @bind="stat.Name"/>
              <hr>
    	        <input class="form-control" type="number" @bind="stat.Value"/>
            </div>

    	    </ItemTemplate>
    	</ListEditor>
    </div>
  </div>


	<div class="flex-grow-1">
	</div>

	<button class="btn btn-primary form-control w-100">Save</button>
</EditForm>

@code {

	[Parameter]
	public PlayerCharacter? Character {get; set;}

	public async Task SaveAsync() {

		Console.WriteLine(Character.StatBlock.Level);

		Console.WriteLine(Character.StatBlockJson);
		await CharacterService.UpdateAsync(Character);
		Console.WriteLine($"Created/updated character {Character.Id}: {Character.Name}");

	}

	public void AddGauge() {
		Character.Gauges.Add(new() {Name = $"unnamed-{Character.Gauges.Count()}"} );

		Console.WriteLine($"Add gauge {Character.Gauges.Count()}");
	}

	public void AddStat() {
		Character.StatBlock.Stats.Add(new() {Name = $"unnamed-{Character.StatBlock.Stats.Count()}"});

		Console.WriteLine($"Add stat {Character.StatBlock.Stats.Count()}");
	}
	public void AddSpecialStat() {
		Character.StatBlock.SpecialStats.Add(new() {Name = $"unnamed-{Character.StatBlock.SpecialStats.Count()}"});

		Console.WriteLine($"Add special stat {Character.StatBlock.SpecialStats.Count()}");
	}

    protected async override Task OnInitializedAsync(){



        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var discordId = user.FindFirst("discord_id")?.Value ?? "Not logged in";

		

		Character = Character ?? new();

		if(Character.Gauges == null)
			Character.Gauges= new List<Gauge>();
				
		if(Character.StatBlock == null)
			Character.StatBlock = new();

		if(Character.StatBlock.Stats == null)
			Character.StatBlock.Stats = new();		
		

	}

  protected override async Task OnAfterRenderAsync(bool first)
  {
      await JS.InvokeVoidAsync("fixGaugeText");
  }	
}

<script>
function fixGaugeText() {
  document.querySelectorAll(".gauge-edit-title").forEach(el => {
    const c = getComputedStyle(el).backgroundColor.match(/\d+/g).map(Number);
    const L = 0.2126*c[0] + 0.7152*c[1] + 0.0722*c[2];
    el.style.color = L > 160 ? "black" : "white";
  });
}
</script>

