@typeparam TItem

<div class="form-group d-flex flex-wrap bg-dark m-2 p-2 rounded" style="">
    <div class="d-flex w-100 flex-row flex-nowrap">
        <label class="form-label flex-shrink-1 fs-5">@Items?.Count() @(Name)(s)</label>
        @if(Hint != null) {
            <span title="@Hint" class="m-auto fs-5" style="cursor: default; user-select: none; color:var(--accent)">?</span>
        }
        <div class="flex-grow-1"></div>
        <button class="btn btn-primary bg-primary h-100 flex-shrink-1 p-2" @onclick="AddItem" style="width: 3em; aspect-ratio: 1 / 1 ">+</button>
    </div>
    <div class="flex-fill flex-wrap d-flex gap-2 m-0" style="overflow: auto;">
    @if (Items != null)
    {
        @foreach (var item in Items)
        {
            <div @key="item" class="card flex-fill m-0 bg-light p-4 d-flex flex-wrap">
                @ItemTemplate(item)
            </div>
        }
    }
    </div>
</div>

@code {
    [Parameter] public ICollection<TItem> Items { get; set; }
    [Parameter] public EventCallback AddItem { get; set; }
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string? Hint {get; set;}
}
